.article-5 {
    display: grid;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* position: relative; */
    grid-template-columns: 1fr 3fr;
    gap: 100px;
}

.sign {
    background: black;
    width: 210px;
    height: 150px;
    margin-top: 100px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-tag-open input, .form-tag-open textarea {
    width: 49%;
    height: 50px;
    padding-left: 10px;
    font-size: 1rem;
    background: #292929;
    border: none;
    transition: all 0.1s linear;
}

.form-tag-open input:focus,
.form-tag-open textarea:focus {
    outline: none;
}


/* .form-tag-open input::before,
.form-tag-open textarea::before {
    content: "";
    position: relative;

    border-bottom: 2px solid white;
    width: 100px;
    height: 100px;
    background: blue;
} */



.form-tag-open .name-email {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 10px;
}
.name-email div input {
    width: 100% !important;
}
.form-tag-open div{
    margin-bottom: 10px;
}

.form-tag-open div {
    width: 600px;
}

.form-tag-open .subject input, .form-tag-open textarea{
    width: 100%;
}
.form-tag-open textarea {
    height: 200px;
    padding-top: 10px;
}


.form-tag-open button {
    position: relative;
    left: 67%;
}

/* input {
    position: relative;
} */

.input-filler {
    width: 100%;
}

.input-filler::after {
    content: "";
    background: white;
    height: 2px;
    width: 100%;
    position: relative;
    bottom: 0;
    animation: inputborder 0.3s ease-out;
}

@keyframes inputborder {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


@media (max-width: 1300px) {
    .article-5 {
        display: block;
    }
}

