.article-3 .p-open-tag p{
    width: 80%;
    line-height: 1.75rem;
}

#tag-cloud {
    width: 30%;
    height: 30%;
    margin-top: 100px;
    /* position: relative; */
    /* left: 650px; */
    /* top: 50%; */
}
.article-3 .box {
    display: flex;
    justify-content: space-evenly;
    /* max-width: 500px; */
}

@media (max-width: 1300px) {
    .box {
        flex-direction: column;
    }
}